<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="./css/styles.css">
</head>

<body>
    {{>header}}
   <p> <img src="./img/ironman.jpeg" class="portrait"></p>
    {{>footer}}
</body>

</html>